@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    @font-face {
        font-family:'debug-regular';
        src: url(./fonts/DebugFreeTrial-MVdYB.otf);
        }

        h1{
            font-family:'debug-regular', sans-serif;
          }

        body{
         font-family: 'Poppins', sans-serif;
         /* @apply bg-[#C2ABDF] */
         @apply bg-gradient-to-br from-stone-800 to-slate-800
        } 

        a:hover {
          @apply text-orange-600
        }
        
        label{
          @apply text-gray-200
        }

        .dark-purple{
          /* @apply bg-[#504872] */
          @apply bg-gradient-to-b from-gray-700 to-neutral-900 opacity-90
        }

        .dark-button {
          @apply bg-gradient-to-tr from-gray-800 to-slate-600 
        }

        .grow {
          @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
        }

        .border-purple {
          /* @apply border-[#645e7d7d] */
          @apply border-gray-800 drop-shadow
        }

        .slider {
          @apply p-2 appearance-none bg-zinc-600 h-2 rounded-full
        }

        .pagination-buttons {
          @apply border border-gray-600/50 bg-stone-800/50 rounded-full text-gray-100 px-1 hover:bg-slate-800
        }

        .fade-in {
          animation: fadeIn 0.3s;
        }
        
        @keyframes fadeIn {
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
        
        #search-column{
          border-radius: 3.5rem
        }
        #result-column{
          border-radius: 3.5rem
        }

  }