@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    @font-face {
        font-family:'debug-regular';
        src: url(./fonts/DebugFreeTrial-MVdYB.otf);
        }

        h1{
            font-family:'debug-regular', sans-serif;
          }

        body{
         font-family: 'Poppins', sans-serif;
        } 

        a:hover {
          @apply text-indigo-600
        }
        
        label{
          @apply text-gray-200
        }

        .dark-purple{
          @apply bg-[#504872]
        }

        .border-purple {
          @apply border-[#645e7d7d]
        }
  }